<div class="row justify-content-center text-center bg-white border border-4 border-dark rounded-2"  id="titleHeader">
    <div class="col-sm-4 ">
        <img src="/images/sugar1.png" alt="sugar skull">
    </div>
    <div class="col-sm-4">
        <p class="display-3 row bg-dark text-white rounded-4 m-2 p-2">
            <%= pageTitle %>
        </p>
    </div>
    <div class="col-sm-4">
        <img src="/images/sugar1.png" alt="sugar skull">
    </div>
</div>