<%- include('partials/head') %>
    <div class="container-fluid">
        <%- include('partials/titleHeader') %>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <form action="/createComment" method="post">
                    <div class="row m-2">
                        <label for="userName">User: </label>
                        <input type="text" id="userName" name="username">
                    </div>
                   <div class="row m-2">
                        <label for="userComment">Comment: </label>
                        <textarea name="usercomment" id="userComment" cols="30" rows="10"></textarea>
                   </div>
                   <div class="row m-2">
                        <button class="btn btn-md btn-dark">
                            Submit Comment
                        </button>
                   </div>
                </form>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 text-center">
                    <a href="/comments"><p class="btn btn-md btn-dark">Cancel</p></a>
                </div>
            </div>
        </div>
    </div>
    


<%- include('partials/footer') %>
